*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main header */

.main{
    min-height: 100vh;
    border: 10px solid rgb(192, 140, 89);
    background-color: rgb(204, 229, 243);
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.main img{
    width: 200px;
    height: 200px;
}
.main .head{
     display: flex;
     margin-top: 20px;
     justify-content: space-between;
     align-items: flex-end;
}
.name-heder h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}

.name-heder .name{
     text-align: end;
}
.top-heder{
    border-radius: 50%;
    overflow: hidden;
}

/* section 1*/

section{
    margin-top: 20px;
    text-align: justify;
}
.section1 .bold{
    font-weight: bold;
}

/* section 2 */

.section2{
    margin-top: 20px;
    text-align: justify;
}
.section2 .bold{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}